*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--almost-white);
}

:root{
  --max-page-width: 1420px;
  --blue-dark: #4E4FEB;
  --blue-light: #068FFF;
  --green: #4EA699;
  --almost-white: #EEEEEE;
  --black: #000000;
}